Sokoban/Sokoban/Archive/StageStructure.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="stage">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="title" type="xs:string" nillable="true"/>
				<xs:element name="author" type="xs:string" nillable="true"/>
				<xs:element name="difficulty">
					<xs:simpleType>
						<xs:restriction base="xs:byte">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="12"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="rows">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="cols">
					<xs:simpleType>
						<xs:restriction base="xs:int">
							<xs:minInclusive value="1"/>
							<xs:maxInclusive value="30"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="map" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>